$component: "buyer-details";

.#{$component} {

  &--item{
    margin-bottom: config('gutter') * 0.5;
  }

  &--label-width{
    width: 145px;
  }

  &__label{
    display: block !important;

    @include breakpoint('tablet') {
      display: inline-block !important;
    }
  }

  &__info{

  }

}