$component: "buyer-details";

.#{$component} {

  position: relative;

  ul{
    margin-bottom: 0;
  }

  &--item{
    margin-bottom: config('gutter') * 0.5;
  }

  &--label-width{
    width: 145px;
  }

  &__label{
    display: block !important;

    @include breakpoint('tablet') {
      display: inline-block !important;
    }
  }

  &__info{

  }

  &__collapse-btn{
    position: absolute;
    top: 30px;
    right: 40px;
    color: config('color', 'purple-light');
    background-color: transparent;
    border: none;
    text-transform: uppercase;

    i{
      margin-left: config('gutter') * 0.25;
    }
  }

}