$component: 'property-details';

.#{$component} {

  &__info{
    text-align: right;
  }

  &__price{
    font-size: config('size', 'heading-2') * 1.07;
    font-weight: bold;
  }

  &__address{
    vertical-align: top !important;
    max-width: config('gutter-large') * 4.5;
    padding-left: config('gutter') * 0.75;
  }

}