$component: 'property-details';

.#{$component} {

  &__image{
    margin-right: config('gutter') * 0.75;
  }

  &__address{
    vertical-align: top !important;
    max-width: config('gutter-large') * 4.5;
  }

  &__info{
    text-align: left;

    @include breakpoint('tablet') {
      text-align: right;
    }
  }

  &__price{
    font-size: config('size', 'heading-2') * 1.07;
    font-weight: bold;
  }

  .btn{
    float: left;

    @include breakpoint('tablet') {
      float: right;
    }
  }

}