$component: "reopen-negotiations";

.#{$component} {

  &__text-container{
    width: calc(100% - 178px);
  }

  &__text{
    font-size: config('size', 'body-md') + 1;
    font-weight: config('weight', 'semiBold');
    max-width: config('gutter-large') * 4.75;
  }

  &__currency{
    font-size: config('size', 'heading-1') * 1.333;
    font-weight: config('weight', 'semiBold');
  }

  &__input-offer{
    height: config('gutter') * 1.5;
    width: config('gutter-large') * 2.4;
    border: 1px solid config('color', 'gray-dark');
    border-radius: config('gutter') * 0.2;
    font-weight: config('weight', 'semiBold');
    font-family: config('family', 'copy');
    font-size: config('size', 'heading-1') * 0.93;
    padding:  config('gutter') config('gutter') * 0.25;
    margin: config('gutter') * 0.5 0;
    margin-left: config('gutter') * 0.35;
  }

  &__input-submit{
    width: calc(100% - 196px);
  }

  &__add-comments{
    margin-top: config('gutter') * 0.5;
  }

}