$component: 'status-bar';

.#{$component} {

  padding: config('gutter') * 0.5 config('gutter') * 2;
  background-color: config('color', 'red');
  color: config('color', 'white');

  &__label{
    font-size: config('size', 'heading-1');
  }

  &__status{
    display: inline-block;
  }

}