$component: 'status-bar';

.#{$component} {

  padding: 0 config('gutter') * 2;
  background-color: config('color', 'red');
  color: config('color', 'white');
  margin-bottom: config('gutter') * 0.5;

  &__label{
    font-size: config('size', 'body-lg');
    font-weight: config('weight', 'bold');
    padding-right: config('gutter') * 0.25;
  }

  &__status{
    font-size: config('size', 'body-lg');
    font-weight: config('weight', 'x-light');
  }

}