$component: 'your-response';

.#{$component} {

  .box-header{
    margin-bottom: 15px;
  }

  &__price{
    font-size: config('size', 'body-xl') * 1.07;
    font-weight: config('weight', 'bold');
  }

  &__description{
    font-size: 22px;
    font-weight: 500;
    max-width: 245px;
    line-height: 27px;
    margin-bottom: 14px;
  }

  &__date{
    font-size: config('size', 'body-sm');
    font-weight: config('weight', 'regular');
    margin-right: config('gutter') * .75;
  }

  &__view-btn{
    margin-right: config('gutter') * 1.5;
  }

}