/* Secure Negotiation Centre Page */
@import './secure-negotiation-centre-page/index';

/*
  Global layouts style
*/

$component: "layout";

.#{$component} {

  &--l-s-g {
    padding-left: config('gutter') * 1.5;
  }

  &--inline{
    display: inline-block;
    vertical-align: middle;
  }

  &--right-border-white{
    border-right: 1px solid config('color', 'white');
  }

  &--non-left-padding{
    padding-left: 0 !important;
  }

  &--full-width{
    width: 100%;
  }

  &--list-reset{
    margin: 0;
    padding: 0;
  }

}