$copy: "typography";

.#{$copy} {

  &--h1 {
    font-size: config('size', 'heading-1');
  }

  &--h2 {
    font-size: config('size', 'heading-2');
  }

  &--h3 {

  }

  &--copy-lg {
    font-size: config('size', 'heading-1');
  }

  &--copy-md {

  }

  &--copy-sm {

  }

  &--white {

  }

  &--gray-dark {
    color: config('color', 'gray-dark');
  }

  &--purple {
    color: config('color', 'purple');
  }

  &--purple-light {
    color: config('color', 'purple-light');
  }

  &--red {
    color: config('color', 'red');
  }

  &--light {
    font-weight: config('weight', 'light');
  }

  &--regular {
    font-weight: config('weight', 'regular');
  }

  &--bold {
    font-weight: config('weight', 'bold');
  }

}

h1,
h2,
h3 {
  font-family: config('family', 'heading');
  margin: 0;
}

p {
  font-family: config('family', 'copy');
  margin: 0;
  font-size: config('size', 'body');
}