$copy: "typography";

.#{$copy} {

  &--h1 {
    font-size: config('size', 'heading-1');
  }

  &--h2 {
    font-size: config('size', 'heading-2');
  }

  &--h3 {
    font-size: config('size', 'heading-3');
  }

  &--copy-xl {
    font-size: config('size', 'body-xl');
  }

  &--copy-lg {
    font-size: config('size', 'heading-1');
  }

  &--copy-md {
    font-size: config('size', 'body-md');
  }

  &--copy-sm {
    font-size: config('size', 'body-sm');
  }

  &--copy-xs {
    font-size: config('size', 'body-xs');
  }

  &--white {
    color: config('color', 'white');
  }

  &--gray {
    color: config('color', 'gray');
  }

  &--gray-dark {
    color: config('color', 'gray-dark');
  }

  &--purple {
    color: config('color', 'purple');
  }

  &--purple-light {
    color: config('color', 'purple-light');
  }

  &--red {
    color: config('color', 'red');
  }

  &--x-light {
    font-weight: config('weight', 'x-light');
  }

  &--light {
    font-weight: config('weight', 'light');
  }

  &--regular {
    font-weight: config('weight', 'regular');
  }

  &--bold {
    font-weight: config('weight', 'bold');
  }

}

// Global style for typography
h1,
h2,
h3 {
  font-family: config('family', 'heading');
  margin: config('gutter') * 0.25 0;
}

h1{
  font-size: config('size', 'heading-1');
}

h2{
  font-size: config('size', 'heading-2');
}

h3{
  font-size: config('size', 'heading-3');
}

p {
  font-family: config('family', 'copy');
  margin: 0;
  font-size: config('size', 'body');
}

span{
  font-family: config('family', 'heading');
}