$component: "box";

.#{$component} {

  &--large{
    padding: config('gutter') * 1.5 config('gutter') * 2;
    margin-bottom: config('gutter') * 1.5;
  }

  &--small{
    padding: config('gutter') config('gutter') * 1.5;
    margin-bottom: config('gutter') * 1.25;
  }

  &--purple{
    border: 1px solid config('color', 'purple-light');
  }

  &--red{
    border: 2px solid config('color', 'red');
    background-color: config('color', 'gray');
  }

  &--gray{
    border: 1px solid config('color', 'gray-dark');
  }

}