$copy: "footer";

.#{$copy} {
  float: none !important;
  text-align: center;
  background-color: config('color', 'black-light');
  padding: config('gutter') * 0.55 0;

  nav{
    margin-bottom: config('gutter') * 1.5;
    @include breakpoint('mobile') {
      float: none !important;
    }

    @include breakpoint('tablet') {
      margin-bottom: 0;
    }
  }

  .nav-item{
    padding-left: 0;

    .btn--link{
      padding-left: 0;
      padding-right: config('gutter') * 0.75;
      margin-right: config('gutter') * 0.5;
      transition: color 0.5s;

      &:hover{
        color: config('color', 'gray-dark');
      }
    }
  }
}