$component: "header";

.#{$component} {

  -webkit-box-shadow: 0px 1px 13px -1px rgba(117,117,117,1);
  -moz-box-shadow: 0px 1px 13px -1px rgba(117,117,117,1);
  box-shadow: 0px 1px 13px -1px rgba(117,117,117,1);

  margin-bottom: config('gutter') * 2.25;

  &-default {
    background-color: config('color', 'gray');
  }

  &-header {
    padding: config('gutter') * 0.7 0;
    width: config('width', 'full');
  }

  &-brand {
    height: config('height', 'full');
  }

  &-logo {
    text-align: center;

    @include breakpoint('tablet') {
      text-align: left;
    }
  }

  &-title {
    float: none;
    text-align: center;
    margin-top: config('gutter') * 1.5;
    font-size: config('size', 'heading-1') * 0.93;
    font-weight: bold;

    @include breakpoint('tablet') {
      float: right;
      text-align: right;
    }
  }

}