$component: "navbar";

.#{$component} {

  &-default{
    background-color: config('color', 'gray');
  }

  &-header{
    padding: config('gutter') 0;
    width: config('width', 'full');
  }

  &-brand{
    height: config('height', 'full');
  }

  &-right{

    margin-top: config('gutter') * 1.5;

    @include breakpoint('tablet') {
      margin-right: 0;
    }
  }

}