$component: "btn";

.#{$component} {

  text-transform: uppercase;
  border-radius: 0;

  &--link{
    font-size: config('size', 'body-md');
    padding: 0 config('gutter') * 0.5;
    line-height: config('gutter') * 0.75;
  }

  &--purple{
    color: config('color', 'white');
    font-weight: config('weight', 'regular');
    font-size: config('size', 'body-md') + 1 ;
    background-color: config('color', 'purple-light');
    padding: config('gutter') * 0.25 config('gutter') * 0.5;
    line-height: config('gutter') * 0.85;
    border-radius: config('gutter') * 0.35;

    &:hover{
      color: config('color', 'gray');
    }
  }

  &--gray{
    color: config('color', 'white');
    font-weight: config('weight', 'regular');
    font-size: config('size', 'body-md') + 1 ;
    background-color: config('color', 'gray-dark');
    padding: config('gutter') * 0.25 config('gutter') * 0.5;
    line-height: config('gutter') * 0.85;
    border-radius: config('gutter') * 0.35;

    &:hover{
      color: config('color', 'gray');
    }
  }

  &--blue{
    color: config('color', 'white');
    font-size: config('size', 'body-lg');
    font-weight: config('weight', 'regular');
    background-color: config('color', 'blue');
    padding: config('gutter') * 0.35 config('gutter') * 0.65;
    line-height: config('gutter') * 1.1;
    border-radius: config('gutter') * 0.35;

    &:hover{
      color: config('color', 'gray');
    }
  }

}