$component: "btn";

.#{$component} {

  font-family: config('family', 'copy');
  font-size: config('size', 'body-md');
  text-transform: uppercase;
  border-radius: 0;

  &--link{
    font-size: config('size', 'body-md');
    padding: 0 config('gutter') * 0.5;
    line-height: config('gutter') * 0.75;
  }

  &--purple{
    color: config('color', 'white');
    font-weight: config('weight', 'regular');
    font-size: config('size', 'body-md') + 1 ;
    background-color: config('color', 'purple-light');
    padding: config('gutter') * 0.15 config('gutter') * 0.35;
    line-height: config('gutter') * 0.85;
    border-radius: config('gutter') * 0.35;
    transition: background-color 0.5s;

    &:hover{
      color: config('color', 'white');
      background-color: lighten(config('color', 'purple'), 10%);
    }
  }

  &--gray{
    color: config('color', 'white');
    font-weight: config('weight', 'regular');
    font-size: config('size', 'body-md') + 1 ;
    background-color: config('color', 'gray-light');
    padding: config('gutter') * 0.15 config('gutter') * 0.35;
    line-height: config('gutter') * 0.85;
    border-radius: config('gutter') * 0.35;
    transition: background-color 0.5s;

    &:hover{
      color: config('color', 'white');
      background-color: lighten(config('color', 'gray-light'), 10%);
    }
  }

  &--blue{
    color: config('color', 'white');
    font-size: config('size', 'body-lg');
    font-weight: config('weight', 'regular');
    background-color: config('color', 'blue');
    padding: config('gutter') * 0.35 config('gutter') * 0.65;
    line-height: config('gutter') * 1.1;
    border-radius: config('gutter') * 0.35;
    transition: background-color 0.5s;

    &:hover{
      color: config('color', 'white');
      background-color: lighten(config('color', 'blue'), 10%);
    }
  }

}